.nav{
    display: flex;
    flex-direction: row;
    margin-left: 30%;
}
.nav li {
    display: inline-block;
    list-style-type: none;
    padding: 19px 19px;
    text-align: center;
}
#purple{
   width: 100%; 
   
}

#week{
    font-family: sans-serif;
    text-align: center;
    color: grey;
}
#tops{
    text-align: center;
    font-family: sans-serif;
    font-size: 150%;
    color: grey;
}
.sofa{
    position: relative;
    text-align: center;
    
}
.get10text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 200%;
    margin-left: -29%;
    padding-top: 60px;
    color:white;
}
.buttonget{
    width: 200px;
    padding: 15px;
    background-color: rgb(241, 113, 188);
    color: white;
}

#athletic{
    width: 100%;
    height: 97.4%;
    margin-top:10px ;
    padding: 10px;
}
#two{
    width: 94%;
    margin-top: -10px;
    

}
#one{
padding: 20px;
}


.flexdress{
    display:flex;
    padding: 20px;
    
}

#pic4{
    width: 145%;
}
#pic3{
    width: 99%;
}
#pic2{
    width: 73%;

}
#pic1{
    width: 56%;
}
.three{
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    

}
.fless{
    display: flex;

    justify-content: space-between;
    
}
.dress{
    margin: 20px;
}
#woman{
    width: 100%;
}
.para{
    text-align: center;
    font-family: Sans-serif;
    margin-top: 90px;
}
.para p{
    color: grey;
}




#email{
    padding: 9px;
    width: 270px;
    margin-top: 15px;
    
    border:solid  gainsboro; 
}

.allprod{
    padding: 15px;
    width: 200px;
    margin-top: 15px;
    color: white;
    background-color: #ca1b96;
    border: transparent;  
    margin-left: 40%;
    margin-top:  30px;
    margin-bottom: 60px;
}
#btn{
    padding: 15px;
    width: 200px;
    margin-top: 15px;
    color: white;
    background-color: #ca1b96;
    border: transparent;

}

.last-img{
    min-height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: url(images/portrait-confident-woman-trying-new-shoes.jpg);
    background-size: cover;  
    background-position: center;
  }
  .last-img i{
    background-color: #f5f5f5;
    color: palevioletred;
    margin-left: 50%;
    font-size: 350%;
  }

.footer{
    display: flex;
    justify-content: space-between;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    margin-top: 90px;
    margin-bottom: 20px;
}